@font-face {
  font-family: "iconfont"; /* Project id 4627522 */
  src: url('iconfont.woff2?t=1721466367241') format('woff2'),
       url('iconfont.woff?t=1721466367241') format('woff'),
       url('iconfont.ttf?t=1721466367241') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bool:before {
  content: "\e618";
}

.icon-string:before {
  content: "\e809";
}

.icon-shuzi:before {
  content: "\e660";
}

.icon-shuzhi:before {
  content: "\e72c";
}

.icon-null:before {
  content: "\e616";
}

.icon-objects:before {
  content: "\e91a";
}

.icon-zifuchuanshujuji:before {
  content: "\e6bd";
}

.icon-structure:before {
  content: "\e65d";
}

.icon-shuzuliebiao:before {
  content: "\e61f";
}

.icon-application:before {
  content: "\e89e";
}

.icon-shuzu:before {
  content: "\e60c";
}

.icon-shuzu1:before {
  content: "\e615";
}

.icon-shuzu2:before {
  content: "\e7e1";
}

.icon-a-Property1zishuzu:before {
  content: "\e600";
}

